@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  cursor: none;
}

@theme {
  --color-primary: #5044e5;
}

